<h1>Invoices</h1>
<ul>
  <%= for invoice <- @invoices do %>
    <li>
      <%= invoice.id %> <%= invoice_date_range(invoice) %>
    </li>
  <% end %>
</ul>
<span><%= link "New Invoice", to: Routes.invoice_path(@conn, :new) %></span>
